build
.cache/
.helix/
.clangd
.vscode/

assets
third_party/*
!third_party/jolt
!third_party/assimp
!third_party/entt
!third_party/raylib
!third_party/raylib-cpp
!third_party/rlImGui
third_party/jolt/*
third_party/assimp/*
third_party/entt/*
third_party/raylib/*
third_party/raylib-cpp/*
third_party/rlImGui/*
!third_party/CMakeLists.txt
!third_party/jolt/CMakeLists.txt
!third_party/assimp/CMakeLists.txt
!third_party/entt/CMakeLists.txt
!third_party/raylib/CMakeLists.txt
!third_party/raylib-cpp/CMakeLists.txt
!third_party/rlImGui/CMakeLists.txt
